/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  font-family: 'Source Sans Pro', sans-serif;
}

.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}

.font-18{
  font-size: 18px;
}
.font-32{
  font-size: 32px;
}

.margin-top-50px{
  margin-top: 50px
}
.margin-top-30px{
  margin-top: 30px
}
.margin-top-20px{
  margin-top: 20px
}
.margin-top-0{
  margin-top: 0
}

.margin-0{
  margin: 0
}
.gray-border{
  border: 1px solid lightgray;
}

.width-initial {
  width: initial !important;
}
.max-width-100pct{
  max-width: 100%;
}
.width-100pct{
  width: 100%;
}

.min-height-300px{
  min-height: 300px;
}

.min-height-160px{
  min-height: 160px;
}

.height-100px{
  height: 100px;
}

.dotjamie-green-text{
  color: #B1D4BD !important;
}
.dotjamie-green-bg{
  background-color: #B1D4BD !important;
}

.padding-top-20{
  padding-top: 20px;
}

.padding-20{
  padding: 20px;
}
.padding-15{
  padding: 15px !important;
}

.padding-left-50{
  padding-left: 50px;
}

.box-lg{
  height: 90px;
  width: 90px;
  border: 1px solid #333;
}
.box-sm{
  height: 50px;
  width: 50px;
  border: 1px solid #333;
  margin: 5px
}
.inline-block{
  display: inline-block;
}
.float-left{
  float: left;
}
.clearfix{
  clear: both;
}
.green-bg{
  background-color: green;
}
.red-bg{
  background-color: red !important;
}
.yellow-bg{
  background-color: yellow;
}
.c-container{
  background-color: white;
  height: 360px;
  width: 73%;
  margin: auto;
  padding-left: 7px
}
.gif-container{
  width: 480px;
  margin: auto;
  height: 360px;
  background-color: black;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.gradient{
  background: #B0D4BD;
  background: -webkit-linear-gradient(#B0D4BD, #dfede4);
  background: -o-linear-gradient(#B0D4BD, #dfede4);
  background: -moz-linear-gradient(#B0D4BD, #dfede4);
  background: linear-gradient(#B0D4BD, #dfede4);
}

.list-style-disc{
  list-style-type: disc;
}


// h3.typing-animation{
//   color: lime;
//   font-family: "Courier";
//   font-size: 20px;
//   margin: 10px 0 0 10px;
//   white-space: nowrap;
//   overflow: hidden;
//   width: 100%;
//   animation: type 4s steps(60, end);
// }
//
// h3.typing-animation:nth-child(2){
//   animation: type2 8s steps(60, end);
// }
//
// span{
//   animation: blink 1s infinite;
// }
//
// @keyframes type{
//   from { width: 0; }
// }
//
// @keyframes type2{
//   0%{width: 0;}
//   50%{width: 0;}
//   100%{ width: 100; }
// }
//
// @keyframes blink{
//   to{opacity: .0;}
// }
//
// ::selection{
//   background: black;
// }
//


.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
