<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Dotjamie</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700,900,400italic'>
  <link rel="stylesheet" href="dist/css/style.css" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="dist/images/dotjamie-logo.png" alt="DotJamie Logo" /></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="dotjamie_portfolio.pdf" target="_blank">Portfolio</a></li>
        <li><a href="https://github.com/dotjamie/dotjamie" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="http://stackoverflow.com/users/3866506/dotjamie" target="_blank"><i class="fa fa-stack-overflow"></i></i></a></li>
        <li><a href="https://www.linkedin.com/in/jamiewarnock" target="_blank"><i class="fa fa-linkedin"></i></i></a></li>
        <li><a href="https://twitter.com/MrsJamieWarnock" target="_blank"><i class="fa fa-twitter"></i></i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <!-- <h1 class="header left-text black-text padding-left-50 valign light">My place to tinker</h1> -->

    </div>
    <div class="parallax"><img src="dist/images/daisy.jpeg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">
      <h3 class="center-align">My place to tinker.</h3>
      <h5 class="center-align light">I'll be adding projects and experiments as they are built, but the current stack includes: </h5>
      <div class="row">
        <div class="col s12 m3">
          <div class="card min-height-300px">
            <div class="center-align waves-effect waves-block waves-light min-height-160px">
              <img class="activator max-width-100pct padding-20" src="dist/images/nodejs-logo.png">
            </div>
            <div class="card-content padding-15">
              <span class="card-title activator grey-text text-darken-4">Node.js<i class="material-icons right">more_vert</i></span>
              <p><a href="https://nodejs.org" target="_blank"><i class="tiny material-icons">open_in_new</i> Visit website</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Node.js<i class="material-icons right">close</i></span>
              <p>Node.js is an open-source, cross-platform runtime environment for developing server-side Web applications.</p>
            </div>
          </div>

        </div>

        <div class="col s12 m3">
          <div class="card min-height-300px">

            <div class="center-align waves-effect waves-block waves-light min-height-160px">
              <img class="activator max-width-100pct padding-20" src="dist/images/materialize-logo.jpeg">
            </div>
            <div class="card-content padding-15">
              <span class="card-title activator grey-text text-darken-4">Material Design<i class="material-icons right">more_vert</i></span>
              <p><a href="http://materializecss.com/" target="_blank"><i class="tiny material-icons">open_in_new</i> Visit website</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Material Design<i class="material-icons right">close</i></span>
              <p>Created and designed by Google, Material Design is a design language that combines the classic principles of successful design along with innovation and technology. Google's goal is to develop a system of design that allows for a unified user experience across all their products on any platform.</p>
            </div>

          </div>
        </div>

        <div class="col s12 m3">
          <div class="card min-height-300px">

            <div class="center-align waves-effect waves-block waves-light min-height-160px">
              <img class="activator width-initial max-width-100pct padding-20" src="dist/images/bower-logo.png">
            </div>
            <div class="card-content padding-15">
              <span class="card-title activator grey-text text-darken-4">Bower<i class="material-icons right">more_vert</i></span>
              <p><a href="http://bower.io/" target="_blank"><i class="tiny material-icons">open_in_new</i> Visit website</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Bower<i class="material-icons right">close</i></span>
              <p>Bower can manage components that contain HTML, CSS, JavaScript, fonts or even image files. Bower doesn’t concatenate or minify code or do anything else - it just installs the right versions of the packages you need and their dependencies.</p>
            </div>

          </div>
        </div>


        <div class="col s12 m3">
          <div class="card min-height-300px">
            <div class="center-align waves-effect waves-block waves-light min-height-160px">
              <img class="activator width-initial max-width-100pct padding-20" src="dist/images/gulp-logo.png">
            </div>
            <div class="card-content padding-15">
              <span class="card-title activator grey-text text-darken-4">Gulp<i class="material-icons right">more_vert</i></span>
              <p><a href="http://gulpjs.com/" target="_blank"><i class="tiny material-icons">open_in_new</i> Visit website</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Gulp<i class="material-icons right">close</i></span>
              <p>gulp is a toolkit that helps you automate painful or time-consuming tasks in your development workflow.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">What's next?</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="dist/images/floating-astronaut.jpeg" alt="Unsplashed background img 1"></div>
  </div>

  <!-- <div class="gradient"> -->
  <div class="container">
    <div class="section">
      <div class="carousel">
        <a class="carousel-item white gray-border" href="#one!"><img src="dist/images/AngularJS-logo.png"></a>
        <a class="carousel-item white gray-border" href="#two!"><img src="dist/images/modernizr.png"></a>
        <a class="carousel-item white gray-border" href="#three!"><img src="dist/images/bootstrap3-logo.png"></a>
        <a class="carousel-item white gray-border" href="#four!"><img src="dist/images/fabric.png"></a>
        <a class="carousel-item white gray-border" href="#five!"><img src="dist/images/ember.png"></a>
      </div>


    </div>

  </div>
  <!-- </div> -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s4 grey-text text-darken-2 light">dotjamie@gmail.com</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="dist/images/flower-branch.jpeg" alt="Unsplashed background img 3"></div>
  </div>
  <footer class="page-footer dotjamie-green-bg">
    <div class="container">
      <div class="row">
        <!-- <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div> -->

        <div class="col s2 offset-s1 ">
          <a href="https://github.com/dotjamie/dotjamie" target="_blank"><i class="fa-2x fa fa-github white-text"></i></a>
        </div>
        <div class="col s2">
          <a href="http://stackoverflow.com/users/3866506/dotjamie" target="_blank"><i class="fa-2x fa fa-stack-overflow white-text"></i></i></a>
        </div>
        <div class="col s2">
          <a href="https://www.linkedin.com/in/jamiewarnock" target="_blank"><i class="fa-2x fa fa-linkedin white-text"></i></i></a>
        </div>
        <div class="col s2">
          <a href="https://twitter.com/MrsJamieWarnock" target="_blank"><i class="fa-2x fa fa-twitter white-text"></i></i></a>
        </div>
        <div class="col s3">
          <a href="dotjamie_portfolio.pdf" class="white-text font-18" target="_blank">Portfolio</a>
        </div>

      </div>
    </div>
    <div class="footer-copyright valign-wrapper">
      <div class="container center-align">
        <h6 class="valign">&copy; 2016 Dotjamie</h6>

      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script src="dist/js/init.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').carousel();
    });
    var options = [
      { selector: '#image-test', offset: 50, callback: 'Materialize.fadeInImage("#image-test")' },
      { selector: '#staggered-test', offset: 0, callback: 'Materialize.showStaggeredList("#staggered-test")' }
    ];
    Materialize.scrollFire(options);


  </script>

  </body>
</html>
