<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Dotjamie</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700,900,400italic'>
  <link rel="stylesheet" href="dist/css/style.css" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="../dist/images/dotjamie-logo.png" alt="DotJamie Logo" /></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dotjamie_portfolio.pdf" target="_blank">Portfolio</a></li>
        <li><a href="/experiments">Experiments</a></li>
        <li><a href="/women_js">Women.js</a></li>
        <li><a href="https://github.com/dotjamie/dotjamie" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="http://stackoverflow.com/users/3866506/dotjamie" target="_blank"><i class="fa fa-stack-overflow"></i></i></a></li>
        <li><a href="https://www.linkedin.com/in/jamiewarnock" target="_blank"><i class="fa fa-linkedin"></i></i></a></li>
        <li><a href="https://twitter.com/MrsJamieWarnock" target="_blank"><i class="fa fa-twitter"></i></i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/dotjamie_portfolio.pdf" target="_blank">Portfolio</a></li>
        <li><a href="/experiments">Experiments</a></li>
        <li><a href="/women_js">Women.js</a></li>
        <li><a href="https://github.com/dotjamie/dotjamie" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="http://stackoverflow.com/users/3866506/dotjamie" target="_blank"><i class="fa fa-stack-overflow"></i></i></a></li>
        <li><a href="https://www.linkedin.com/in/jamiewarnock" target="_blank"><i class="fa fa-linkedin"></i></i></a></li>
        <li><a href="https://twitter.com/MrsJamieWarnock" target="_blank"><i class="fa fa-twitter"></i></i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section">
    <div class="container center-align">
      <h1>Coming soon!</h1>
      <h4 class="light margin-bottom-20">A supportive community of women coders mastering JavaScript and all things front end web development</h4>
      <img src="dist/images/passion-led-us-here.jpeg" alt="" style="width: 75%;" class="" />
    </div>
  </div>
</body>
</html>
